<!DOCTYPE html>
<html lang="en" ng-app='social'>

<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DevMtn Social</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body ng-controller="mainCtrl">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <!-- {{test}} -->
    <div>
        <p>Welcome to DevMountain Social</p>
        <p>Add Some Info So Friends Can Find You</p>
        <div class="Full-name">Name</div>
        <input type="text" name="" ng-model="user.name">
        <div class="Tagline">Tagline</div>
        <input type="text" name="" ng-model="user.tagline">

        <div class="Profile Image URL">Image</div>
        <input type="text" name="" ng-model="user.imageUrl">

        <div class="Bio">Bio</div>
        <textarea name="name" rows="8" cols="80" ng-model="user.bio"></textarea>
        <button type="button" name="SaveChanges" ng-click="createUser(user)">Save</button>


        </div>

        </div>
    </div>

    <h2 ng-show="view">
        View Friends
    </h2>
    <h2 ng-show="find">
        Find Friends
    </h2>
    <h2 ng-show="update">
        Update Profile
    </h2>

    <div class="bottom-nav">
        <div ng-class = "{selected:view}" ng-click= "togglePage('view')">View Friends</div>
        <div ng-class = "{selected:find}" ng-click= "togglePage('find')">Find Friends</div>
        <div  ng-class = "{selected:update}" ng-click= "togglePage('update')">Update Friends</div>

    </div>


    <script src="js/app.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/mainService.js"></script>
</body>
</html>
